/* Estilos generales */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    height: 15vh;
}

/* Estilos Barra de navegacion */

.navbar {
    font-family: 'Bitter', serif;
    font-weight: 500;
    height: 100%;
}

.logo {
    max-width: 100%;
    height: auto;
}

.navbar-collapse {
    position: relative;
    z-index: 2;
}

/* Estilos Index */

#main-index {
    height: 75vh;
    background-image: url(https://images2.alphacoders.com/711/711694.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#h1-index {
    color: black;
    background-color: rgb(214, 230, 230);
    font-family: 'Bitter', serif;
    font-weight: 500;
}

#p-index {
    color: black;
    background-color: rgb(214, 230, 230);
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 25px;
}

#boton-index {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e2d6;
    color: rgb(5, 5, 5);
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid rgb(182, 182, 190);
    text-align: center;
}

#boton-index a {
    text-decoration: none;
    color: black;
    font-family: 'Bitter', serif;
    font-weight: 400;
}











































































/* Estilos Footer */

footer {
    height: 10vh;
    background-color: rgb(179, 165, 149);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.redes-sociales {
    display: flex;
    gap: 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

.copyright {
    text-align: center;
    flex: 1;
    margin: 0;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 15px
}