/* Estilos generales */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    height: 15vh;
}

/* Estilos Barra de navegacion */

.navbar {
    font-family: 'Bitter', serif;
    font-weight: 500;
    height: 100%;
}

.logo {
    max-width: 100%;
    height: auto;
}

.navbar-collapse {
    position: relative;
    z-index: 2;
}

/* Estilos Index */

#main-index {
    height: 75vh;
    background-image: url(https://images2.alphacoders.com/711/711694.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#h1-index {
    color: black;
    background-color: rgb(214, 230, 230);
    font-family: 'Bitter', serif;
    font-weight: 500;
}

#p-index {
    color: black;
    background-color: rgb(214, 230, 230);
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 25px;
}

#boton-index {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e2d6;
    color: rgb(5, 5, 5);
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid rgb(182, 182, 190);
    text-align: center;
}

#boton-index a {
    text-decoration: none;
    color: black;
    font-family: 'Bitter', serif;
    font-weight: 400;
}

/* Estilos Sobre Mi */

.main-sobre-mi {
    padding: 20px;
}

.container-sobremi {
    display: flex;
    align-items: flex-start;
    background-color: #dad9c2;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.left-section .image {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.right-section {
    flex: 1;
    padding: 20px;
}

.right-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 500;
}

.right-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 500;
}

.right-section p {
    font-size: 16px;
    text-align: justify;
    font-family: 'Bitter', serif;
    font-weight: 500;
}

#h1-sobremi {
    color: rgb(0, 0, 0);
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 30px;
}

#h2-sobremi {
    color: rgb(0, 0, 0);
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 30px;
}
.p-sobremi {
    color: rgb(0, 0, 0);
    font-family: 'Bitter', serif;
    font-weight: 500;
}











































































/* Estilos Footer */

footer {
    height: 10vh;
    background-color: rgb(179, 165, 149);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.redes-sociales {
    display: flex;
    gap: 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

.copyright {
    text-align: center;
    flex: 1;
    margin: 0;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 15px
}