/* Estilos generales */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    height: 15vh;
}

/* Estilos Barra de navegacion */

.navbar {
    font-family: 'Bitter', serif;
    font-weight: 500;
    height: 100%;
}

.logo {
    max-width: 100%;
    height: auto;
}

.navbar-collapse {
    position: relative;
    z-index: 2;
}

/* Estilos Index */

#main-index {
    height: 75vh;
    background-image: url(https://images2.alphacoders.com/711/711694.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#h1-index {
    color: black;
    background-color: rgb(214, 230, 230);
    font-family: 'Bitter', serif;
    font-weight: 500;
}

#p-index {
    color: black;
    background-color: rgb(214, 230, 230);
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 25px;
}

#boton-index {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e2d6;
    color: rgb(5, 5, 5);
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid rgb(182, 182, 190);
    text-align: center;
}

#boton-index a {
    text-decoration: none;
    color: black;
    font-family: 'Bitter', serif;
    font-weight: 400;
}

/* Estilos Sobre Mi */

.main-sobre-mi {
    padding: 20px;
}

.container-sobremi {
    display: flex;
    align-items: flex-start;
    background-color: #dad9c2;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.left-section .image {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.right-section {
    flex: 1;
    padding: 20px;
}

.right-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 500;
}

.right-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 500;
}

.right-section p {
    font-size: 16px;
    text-align: justify;
    font-family: 'Bitter', serif;
    font-weight: 500;
}

#h1-sobremi {
    color: rgb(0, 0, 0);
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 30px;
}

#h2-sobremi {
    color: rgb(0, 0, 0);
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 30px;
}
.p-sobremi {
    color: rgb(0, 0, 0);
    font-family: 'Bitter', serif;
    font-weight: 500;
}

/* Estilos Info Util */

.main-infoutil {
    height: 75vh;
    display: flex;
    justify-content: center;
    background-color: #dad9c2;
}

.container-infoutil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-infoutil {
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(150, 156, 131);
    width: 20%;
    flex: 1 0 calc(30% - 40px);
}

.tarjeta-img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.tarjeta-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h2-tarjeta {
    font-size: 20px;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.p-tarjeta {
    margin-bottom: 10px;
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 15px;
}

.boton-personalizado {
    display: inline-block;
    padding: 5px 10px;
    background-color: #9a9c88;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid rgb(182, 182, 190);
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 15px;
}

/* Estilos Lugares */

#main-lugares {
    height: 75vh;
    position: relative;
    z-index: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-color: #dad9c2;
    height: 100%;
}

.grid-item {
    border-radius: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: block;
    text-decoration: none;
    font-family: 'Bitter', serif;
    font-weight: 500;
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: auto;
}

.grid-item .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

section div a {
    text-decoration: none;
}

.p-ciudades-lugares {
    color: black;
    font-family: 'Bitter', serif;
    font-weight: 300;
    font-size: 40px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#amsterdam {
    background-image: url(https://images.pexels.com/photos/2856012/pexels-photo-2856012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#bariloche {
    background-image: url(https://images.pexels.com/photos/13452029/pexels-photo-13452029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#berlin {
    background-image: url(https://images.pexels.com/photos/2570063/pexels-photo-2570063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#javea {
    background-image: url(https://i.pinimg.com/564x/62/44/87/6244877808039f3fa7a159660c945f7c.jpg);
}

#madrid {
    background-image: url(https://images.pexels.com/photos/930595/pexels-photo-930595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#praga {
    background-image: url(https://images.pexels.com/photos/7245230/pexels-photo-7245230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#roma {
    background-image: url(https://images.pexels.com/photos/3021382/pexels-photo-3021382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#sofia {
    background-image: url(https://images.pexels.com/photos/8514532/pexels-photo-8514532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

/* Estilos Contacto */

#main-contacto {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(https://images6.alphacoders.com/546/546393.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#h1-contacto {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 40px;
}

.formulario {
    display: grid;
    gap: 20px;
}

.categoria-formulario {
    display: grid;
    gap: 5px;
}

.categoria-formulario label {
    font-weight: bold;
    background-color: #9a9c88;
    color: white;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 20px;
}

.categoria-formulario input::placeholder,
.categoria-formulario textarea::placeholder {
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 15px;
}

.categoria-formulario input {
    padding: 10px;
    width: 100%;
    height: 60px;
    width: 500px;
}

.categoria-formulario textarea {
    padding: 10px;
    width: 100%;
    height: 150px;
    width: 500px;
}

.enviar button {
    padding: 10px 20px;
    color: white;
    background-color: #8a8864;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 20px;
    font-family: 'Bitter', serif;
    font-weight: 500;
}

.enviar {
    display: flex;
    justify-content: center;
}

/* Estilos Subpágina Aplicaciones Celular */

#main-apps-movil {
    background-color: #dad9c2;
}

#h1-apps-movil {
    font-family: 'Bitter', serif;
    font-weight: 800;
    color: black;
    text-align: center;
}

#h2-apps-movil {
    font-family: 'Bitter', serif;
    font-weight: 700;
    color: black;
    text-align: center;
    margin: 50px 0px 100px 0px;
}

#main-apps-movil img {
    display: block;
    margin: 0 auto;
}

#h3-apps-movil {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    font-size: 16px;
    text-align: justify;
    margin: 100px 100px 0px 100px;
}

.p-apps-movil-items {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    font-size: 16px;
    text-align: justify;
    text-decoration: underline;
    margin: 50px 100px 0px 100px;
}

.p-apps-movil {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    font-size: 16px;
    text-align: justify;
    margin: 20px 100px 0px 100px;
}

/* Estilos Subpágina Consejos Aeropuertos */

#main-consejos-aeropuertos {
    background-color: #dad9c2;
    width: 100%;
}

#h1-consejos-aeropuertos {
    font-family: 'Bitter', serif;
    font-weight: 800;
    color: black;
    text-align: center;
}

#h2-consejos-aeropuertos {
    font-family: 'Bitter', serif;
    font-weight: 700;
    color: black;
    text-align: center;
    margin: 50px 0px 100px 0px;
}

#main-consejos-aeropuertos img {
    display: block;
    margin: 0 auto;
}

#h3-consejos-aeropuertos {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    font-size: 16px;
    text-align: justify;
    margin: 100px 100px 0px 100px;
}

.p-consejos-aeropuertos-items {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    font-size: 16px;
    text-align: justify;
    text-decoration: underline;
    margin: 50px 100px 0px 100px;
}

.p-consejos-aeropuertos {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    font-size: 16px;
    text-align: justify;
    margin: 20px 100px 0px 100px;
}

/* Estilos subpágina Equipaje de Mano */

#main-carry-on {
    background-color: #dad9c2;
}
#h1-carry-on {
    font-family: 'Bitter', serif;
    font-weight: 800;
    color: black;
    text-align: center;
}

#h2-carry-on {
    font-family: 'Bitter', serif;
    font-weight: 700;
    color: black;
    text-align: center;
    margin: 50px 0px 100px 0px;
}

#main-carry-on img {
    display: block;
    margin: 0 auto;
}

#h3-carry-on {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    font-size: 16px;
    text-align: justify;
    margin: 100px 100px 0px 100px;
}

.p-carry-on-items {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    font-size: 16px;
    text-align: justify;
    text-decoration: underline;
    margin: 50px 100px 0px 100px;
}

.p-carry-on {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    font-size: 16px;
    text-align: justify;
    margin: 20px 100px 0px 100px;
}







































































/* Estilos Footer */

footer {
    height: 10vh;
    background-color: rgb(179, 165, 149);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.redes-sociales {
    display: flex;
    gap: 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

.copyright {
    text-align: center;
    flex: 1;
    margin: 0;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 15px
}